
.card {
    border-color: blue;
}

.btn-agregar-carrito {
    color: white;
    background-color: blue;
}

.btn {
    width: 100%;
}

.dark-theme {
    background-color: black;
}

.dark-text {
    color: white;
}

.productoEnCarrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
  }
  
  .imagenProducto {
    max-width: 100%;
    height: 500px;
  }
  
  .parrafo-de-producto {
    margin-top: 5px;
  }
  
  .buttonCarritoEliminar {
    margin-top: 5px;
  }